@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@media all and (max-width: 800px) {
  .sectionOne-flexbox-mobile {
    margin-top: 10em; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 0; }

  .nav__item__links {
    text-align: center;
    padding: 2em; }
    .nav__item_button {
          margin-top: 0.35em;
      }
      .nav__item_button_admin {
        background-color: none;
        color:red;

      }
  .nav__item:last-of-type .nav__item__links {
    border-bottom: none; }
  .sectionOne__block__titel {
    display: none; } }

* {
  margin: 0;
  padding: 0; }

.body {
  background-color: #d6e6ef;
  background-image: url(../img/sectionOne/background/bg-shades1.png);
  background-position: top;
  background-repeat: no-repeat;
  font-size: 16px; }

.body-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  position: relative;
  height: 135px;
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.header:before {
  position: absolute;
  content: "";
  background-color: #4cb2e7;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -56%;
  right: 0%;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg); }

.header-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  height: 130px;
  width: 268px;
  background-color: #d6e6ef;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  top: -22%;
  right: -2%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin: 0 1em;
  color: #299fca; }

.logo-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center; }

.logo__titel {
  font-family: 'Bree Serif', serif;
  font-size: 250%; }

.logo__titel_text {
  font-size: 90%;
  margin-bottom: 1.5em;
  font-family: 'Arial Regular', serif;
  font-style: italic; }

.nav-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.nav__item:last-child {
  margin-right: 10em; }

.nav__list {
  list-style: none; }

.nav__item {
  margin: 1em 1em 0 1em; }

.nav__item__links {
  text-decoration: none;
  padding: 1em;
  font-size: 105%;
  color: #fff; }

.sectionOne-flexbox-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.sectionOne-flexbox-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.sectionOne {
  background: url(../img/sectionOne/background/cloud-1.png), url(../img/sectionOne/background/cloud-2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px; }

.sectionOne__block__content {
  background-color: #127ea5;
  max-width: 350px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  z-index: 1;
  margin: 0 4.5em 1em 1em;

}
.visibility_hidden {
  visibility: hidden;
}

.block__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.375em; }

.block__content__img {
  border: 4px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 0.375em; }

.block__content__text {
  color: #fff;
  font-family: 'Raleway', sans-serif; }

.content__text__head__text {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 105%; }

.content__text__head__description {
  font-size: 95%;
  text-align: justify;
  line-height: 1.5; }

.content__price {
  color: #fff;
  font-size: 230%;
  text-align: right;
  margin-right: 0.5em; }

.content__price {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.content__form__button {
  height: 36px;
  width: 140px;
  margin-top: 0.5em;
  background-color: #fdf104;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 130%;
  font-family: 'Bree Serif', serif;
  color: #64affc; }
.content__form__button_dell {
  height: 36px;
  width: 140px;
  margin-top: 0.5em;
  background-color: #4cb2e7;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 130%;
  font-family: 'Bree Serif', serif;
  color: red; }

.content__form__button_admin {
  height: 36px;
  width: 140px;
  margin-top: 0.5em;
  background-color: #4cb2e7;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 130%;
  font-family: 'Bree Serif', serif;
  color: red; }
  
.sectionOne__block__titel {
  position: absolute; }

.block__titel__head__text {
  position: relative;
  top: -6.2em;
  right: -20.3em;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #f2e60a; }

.block__titel__head__text:before {
  content: url(../img/sectionOne/Special-Summer.png);
  position: absolute;
  top: 20px;
  left: 20px; }

.head__text-flaxbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.block__titel__text {
  position: absolute;
  top: -4em;
  right: -23.2em;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 5px solid #fff;
  height: 70px;
  width: 70px;
  background-color: #34abd6;
  color: #fff;
  text-align: center; }

.block__titel__text-position {
  margin-top: 1.5em; }

.footer-flexbox-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer-flexbox-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.sectionTwo__block1__content {
  max-width: 220px;
  margin: 2.68em 2em; }

.sectionTwo__wrapper__content {
  max-width: 236px; }

.block1__content__titel {
  font-style: italic;
  margin: 0.3em 0.3em;
  font-size: 140%;
  color: #a7a8a9; }

.block1__content__text {
  margin: 0.3em 0.3em;
  font-size: 90%;
  line-height: 1.3;
  text-align: justify;
  color: #959595; }

.sectionTwo .content__form__button {
  background-color: #127ea5;
  color: #fff; }

.block__wrapper__discription {
  background-color: #127ea5;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  height: 340px;
  margin: 2.68em 2em; }

.sectionTwo__block__wrapper {
  max-width: 310px; }

.wrapper__discription__list {
  padding: 1.5em 0 0 1.5em;
  font-family: 'Titillium Web', sans-serif; }

.wrapper__discription__list:after {
  content: "Basket";
  padding: 8px 120px 25px 50px;
  position: relative;
  top: -40px;
  left: -41px;
  background-image: url(../img/sectionTwo/ribbon-copy.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  z-index: 1;
  color: #299fca; }

.wrapper__discription__list:before {
  content: "";
  padding: 3px 130px 3px 50px;
  position: relative;
  top: 19px;
  left: -37px;
  background-color: #807a0a;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  z-index: -1; }

.wrapper__discription__item {
  margin: 1em 2.125em 0 1.250em;
  font-size: 95%;
  font-family: 'Raleway', sans-serif;
  list-style-type: none; }

.wrapper__discription__item__link {
  text-decoration: none;
  color: #fff; }

.footer-flexbox-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer-flexbox-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__block__news,
.footer__contactUs,
.footer__contact__form {
  margin: 2em 3em;
  width: 350px; }

.footer {
  background-color: #127ea5;
  color: #fff;
  max-width: 1314px;
  width: 100%;
  }

.footer__contact {
  font-family: 'Raleway', sans-serif; }

.footer__titel {
  font-size: 200%;
  padding: 1em 1em 0.5em 1em; }
.form_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  background-color: #0f6686;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #2f7a96;
  font-size: 100%;
  height: 35px;
  width: 190px;
  padding: 1em 1em;
  border: outset 2px #61a0b7;
  -webkit-box-shadow: inset 0px 2px 17px -4px rgba(10, 21, 26, 0.97);
          box-shadow: inset 0px 2px 17px -4px rgba(10, 21, 26, 0.97);
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.footer__contact__item__input-size {
  height: 15px;
  width: 194px; }

.footer__contact__item__inputTextarea-size {
  height: 50px;
  width: 285px;
  resize: none; }

.footer__news__form-margin {
  margin-left: 0.5em; }

.footer__news__form {
  padding: 0 1em; }

.footer__socia__item {
  list-style: none; }

.socia__item-position {
  padding: 20px;
  margin: 0.5em;
  font-size: 100%;
  width: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3bb3de; }

.footer__socia__links-margin {
  margin-left: 1.5em; }

.footer__socia__item {
  display: inline; }

.footer__socia__links {
  margin-top: 1em; }

.fa-facebook {
  color: white; }

.fa-twitter {
  color: white; }

.fa-linkedin {
  color: white; }

.submit {
  height: 33px;
  width: 90px;
  background-color: #d6e6ef;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none; }

.footer__news__form-margin {
  margin-left: 1em; }

.footer__contactUs_list {
  padding: 1em;
  list-style: none; }

.footer__contactUs__item {
  padding: 0.7em;
  font-size: 100%;
  font-size: 100%; }

.footer__contactUs__titel {
  font-size: 200%;
  padding: 1em 1em 0em 1em; }

.footer__contact__form__titel {
  font-size: 200%;
  padding: 1em; }

.footer__contact__item {
  list-style: none;
  margin-bottom: 1em; }

.footer__contact__button-right,
.footer__contact__form__list {
  float: right; }

.footer__license_block,
.footer__license_block {
  font-size: 100%;
  padding: 1em; }

  /* reg_success.html */
  .reg_incorrect {
    display: flex;
        flex-direction: column;
        justify-content: space-around;
            align-items: center;
  }
  /* reg_exist.html */
  .reg_exist {
    align-items: center;
  }
  /*test*/
  .section_main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
  }
  .sectionTwo {
    background-color: yellow;
  }
